.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.CardBox {
  width: 100%;
  height: auto;
  margin-bottom: 65px;
}
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
