{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="wrapper">
    <h1>비밀번호 변경 완료</h1>
    <p>새롭게 입력하신 비밀번호로 다시 로그인해주세요.</p>
    <button class="white_btn" type="button" onclick="goLogin()">로그인 하기</button>
    <button class="red_btn" type="button" onclick="goSearch()">마감현황보기</button>
  </div>
  <style type="text/css">
    body{
      
      margin-top: 80px;
    }
  </style>
{% endblock %}

{% block scripts %}
<script>
  const goLogin = () => {
    window.location.href = "https://ku-sugang.com/login"
  }
  const goSearch = () => {
    window.location.href = "https://ku-sugang.com/search"
  }
</script>
{% endblock %}