{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% if validlink %}
    <div class="wrapper">
      <h1>비밀번호 변경</h1>
      <p> * 숫자로만 이루어진, 아이디와 비슷한<br/>
        너무 쉬운 비밀번호는 사용이 불가합니다.
      </p>
      <form class="password_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="confirm_button" class="red_btn" type="submit">비밀번호 변경하기</button>
      </form>
  {% else %}
      <p>링크 에러</p>
      <p>
        해당 비밀번호 변경 링크가 이미 사용되었습니다.<br />
        새로운 비밀번호 링크를 요청하세요
      </p>
    </div>  
  {% endif %}

  <style type="text/css">
    body{
      
      margin-top: 80px;
    }
    .input_new{
      width: 294px;
      height: 48px;
      border-radius: 3px;
      border: solid 1px #8b0028;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      color: #707070;
      padding-left: 10px;
    }
    #confirm_button{
      margin-top: 210px;
    }
  </style>
{% endblock %}

{% block scripts %}
<script>
  console.log('hi')
  const form = document.querySelector('.password_form')
  let form_p1 = ""
  let form_p2 = ""
  const p_list = form.getElementsByTagName('P')
  console.log(p_list)
  p_list[0].childNodes[0].innerText = ""
  p_list[2].childNodes[0].innerText = ""
  p_list[0].childNodes[2].className = "input_new"
  p_list[2].childNodes[2].className = "input_new"
  p_list[0].childNodes[2].placeholder = "새 비밀번호(8자이상)"
  p_list[2].childNodes[2].placeholder = "새 비밀번호 확인"
  form.childNodes[4].style.display = "none"
  if(form.getElementsByTagName('UL').length > 1) {
    form.getElementsByTagName('UL')[1].style.color = "red"
  }

  // for(let i=0; i<p_list.length; i++) {
  //   if(p_list[i].childNodes.length > 0) {

  //   }
  // }

</script>
{% endblock %}