{% extends 'base.html' %}
{% load static %}
{% block css %}        <!-- 페이지별 css -->
<link rel="stylesheet" href="{% static 'done.css' %}">
{% endblock css %}
{% block content %}
  <dev class="wrapper">
    <a href="https://ku-sugang.com/"> < </a>
    <h1>메일을 확인해주세요!</h1>

    <p>입력하신 메일 주소로 아이디와 비밀번호 변경 링크가<br/> 
      발송되었습니다. 메일 확인 후 로그인 진행해주세요.
    </p>
    <button class="white_btn" type="button" onclick="goLogin()">로그인 하기</button>
    <button class="red_btn" type="button" onclick="goSearch()">마감현황 보기</button>
  </dev>


{% endblock content %}

{% block scripts %}
<script>
  const goLogin = () => {
    window.location.href = "https://ku-sugang.com/login"
  }
  const goSearch = () => {
    window.location.href = "https://ku-sugang.com/search"
  }
</script>
{% endblock scripts %}