container_commands:
  collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "SugangProject.production"
  aws:elasticbeanstalk:container:python:
    WSGIPath: SugangProject/wsgi.py